---
import Layout from "../layouts/Layout.astro";
import WorkedTime from "../sections/WorkedTime.astro";
---

<Layout
	title="Welcome to Astro."
	title="Rodrigo Grille Zayas"
	description="Página web curriculum de Rodrigo Grille Zayas"
>
	<main>
		<h1 class="text-6xl font-extrabold text-center bg-clip-text">
			Rodrigo Grille Zayas
		</h1>

		<WorkedTime />
	</main>
</Layout>
